$breakpoint-small: 450px;
$breakpoint-medium: 700px;
$breakpoint-large: 900px;

$width-max: 700px;
$width-max-wide: 1080px;

$padding-global-min: 1rem;

$color-brand: #005bea;
$color-text-muted: #999999;
$color-text: #333333;
$color-background: #414345;
